@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

body{
  background-color: black;
  background-size: contain;
}
p.hw{
  font-family: Hacked, sans-serif;
  color: white;
  text-align: center;
  font-size: 80px;
  margin-top:auto;
  margin-bottom: auto;
}

#dp{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-top:20px;
  margin-left: auto;
margin-right: auto;
}
pre{
  color: white;
  font-family: Hacked, sans-serif;
  background-color: black;
  text-align: center;
  font-size: 20px;
}
.flex-conatiner{
  display: flex;
  justify-content: center;
}
img.social{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin:0px 30px;
}
.contact{
  font-family: Hacked, sans-serif;
  text-align: center;
  justify-content: center;
  color: #A9A9A9;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-family: Hacked, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
